.container {
    display: flex;
    margin: auto;
    width: 20%;
    justify-content: space-around;
}


.container input{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #f5cfff;
    height: 40px; 
}

.container button{
    border: 2px solid rgb(0, 0, 0);
    border-radius:10px 10px 10px 10px;
    background-color: #9cf2d8;
    height: 40px;
}

.bar{
    position:fixed;
    width: 50%;
   
}

.bar:hover > .container input {
    width: 240px;
    padding: 0 6px;
}

.bar:hover > .container button {
  background: white;
  color : #eaf3ff;
}



@media screen and (max-width: 620px) {
.bar:hover > .container input {
    width: 150px;
    padding: 0 6px;
}
}